# ignore decompressed data file
Silicon_Kooking_Src/models/data/data-license/datadump.xml
Silicon_Kooking_Src/models/data/clean-parse-data/datadump.xml
Silicon_Kooking_Src/models/data/clean-parse-data/cleandata.xml
Silicon_Kooking_Src/models/data/database.xml

# ignore migrations 
Silicion_Kooking_Src/src/accounts/migrations/*
Silicion_Kooking_Src/src/recipes/migrations/*
Silicion_Kooking_Src/src/home/migrations/*

# ignore settings
Silicon_Kooking_Src/src/Silicon_Kooking/settings.py

# misc
*.pyc