# ignore decompressed data file
**/datadump.xml
**/recipe-data.xml
**/title-images.xml
**/*-imag*.txt

# ignore migrations 
Silicion_Kooking_Src/src/accounts/migrations/*
Silicion_Kooking_Src/src/recipes/migrations/*
Silicion_Kooking_Src/src/home/migrations/*

# ignore settings
Silicon_Kooking_Src/src/Silicon_Kooking/settings.py

# misc
*.pyc
Silicon_Kooking_Src/src/recipes/management/commands/populate-recipes.py
Silicon_Kooking_Src/src/recipes/management/commands/ingredients.txt
Silicon_Kooking_Src/src/home/migrations/__init__.py
Silicon_Kooking_Src/models/data/clean-parse-data/images/last-recipe.txt
Silicon_Kooking_Src/models/data/clean-parse-data/ingredients/ingredients.txt
Silicon_Kooking_Src/models/data/clean-parse-data/todo.md
Silicon_Kooking_Src/models/data/clean-parse-data/ingredients/recipe-ingredients.txt
Silicon_Kooking_Src/src/home/migrations/0001_initial.py
