# ignore decompressed data file
**/datadump.xml
**/recipe-data.xml
**/title-images.xml
**/*-imag*.txt
**/tags.txt
**/ingredients.txt
**/left-over.txt
**/found-nationalities.txt
**/meal-types.txt
**/recipe-ingredients.txt

# ignore migrations 
Silicion_Kooking_Src/src/accounts/migrations/*
Silicion_Kooking_Src/src/recipes/migrations/*
Silicion_Kooking_Src/src/home/migrations/*

# ignore settings
Silicon_Kooking_Src/src/Silicon_Kooking/settings.py

# misc
*.pyc
