{% extends "header.html" %}

  {% block head_css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    body {
      font-family:font-family: Arial, Helvetica, sans-serif;             
    }
  #container {
    position: absolute;
      width:70%;
      left: 50%;
      margin-left: -35%;
  }
  spaceLine {
    white-space:pre-line;
  }
  div.BackColor {
    background-color: white;
  }
  #clear {
    clear: both;
  }
  </style>  
  
  {% endblock %}
{% block body %}
<body class="body" style="background-color:white">
  <div id="container">
    <h1 style="font-size: 72px; text-align: center; padding-top: 30px;"> Silicon Kooking</h1>
    <hr>
    <div class="boxCenter">
      <div class="BackColor">
        <p style="text-align: center; padding: 15px; background-color: lightgrey; font-size: 22px;" width="100%"><b>Recipe of the Week</b></p>
        <div style="width:300px; float:left;">
          <img src="http://images.media-allrecipes.com/userphotos/960x960/3758842.jpg" width = "80%" height = "220px">
        </div>
        <p style="text-align: right; font-size: 24px;">Recipe name goes here...</p>
        <p style="text-align: right; font-size: 16px;">Author goes here...</p>
        <p style="text-align: right; font-size: 16px;">Description of recipe goes here...</p>
      </div>
    </div>
    <div id="clear"></div>
      <br>
      <br>
      <div id="clear">
        <br>
        <br>
      </div>
    <div class="boxCenter">
      <div class="BackColor">
        <p style="text-align: center; padding: 15px; background-color: lightgrey; font-size: 22px;" width="100%"><b>Featured Chef</b></p>
        <p style="text-align: center;">
          <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" width = "250">
        </p>
        <p style="text-align: center; font-size: 24px;">Author name goes here...</p>
        <p style="text-align: center; font-size: 16px;">Number of recipes goes here...</p>
        <p style="text-align: center; font-size: 16px;">Brief bio goes here...</p>
      </div>
    </div>
    <div id="clear"></div>
      <br>
      <br>
      <div id="clear">
        <br>
        <br>
      </div>
    <div class="boxCenter">
      <div class="BackColor">
        <p style="text-align: center; padding: 15px; background-color: darkgrey; font-size: 22px;" width="100%"><b>Silicon Nights: About Us</b></p>
        <p style="text-align: left; font-size: 24px;">Our Story...</p>
        <p style="text-align: left; font-size: 16px;">Silicon Nights was founded one dark stormy night (actually it was a bright clear morning) barely eighteen years into the 21st century. The Founding Knights (David, Baldemar, Saif, Rafael and Brian) formed a brotherhood, and sought to create the Silicon Knights. Shortly thereafter, the name was changed due to an already existing company of the same name. The Founding Knights -- Nights? -- joined forces for one sole purpose: To create a cool little website and search for recipes based on ingredients a user may have, and also to get an A in a Software Engineering class. This is that website!</p>
      </div>
    </div>
    <div id="clear"></div>
      <br>
      <br>
      <div id="clear">
        <br>
        <br>
      </div>
    <p>©Silicon Nights -- Silicon Kooking, a subsidiary of Silicon Nights, All Rights Reserved.</p>
  </div>
</body>
{% endblock %}
