
{% extends "header.html" %}
{% block body %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="jquery/jquery.js"></script>
<script type="text/javascript" src='js/bootstrap.min.js'></script>
<link rel="stylesheet" href="css/bootstrap.css" />
<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway" rel="stylesheet">
<!--may need to use the bottom vs the top. 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->

   <style type="text/css">
	@media only screen and (min-width:1070px){
			div.boxLeft{
				float:center;
				width: 30%; 
				padding-left: 0px;
				padding-right: 0px;
				padding-bottom: 0px; 	
			}

		}
		body {
			font-family: 'Raleway', sans-serif;
			background-image:  url("https://n6-img-fp.akamaized.net/free-photo/table-top-with-background_1404-28.jpg?size=338&ext=jpg");
			background-repeat: no-repeat;
			background-position: right top;
			background-attachment: fixed;
			background-size: cover;
		}
		.containerBox {
			position: absolute;
			width:70%;
			left: 50%;
			margin-left: -35%;
			height: auto;
			background-color: rgba(19,20,20, 0.47);
			border-radius: 25px;
			display: inline-block;
		}
		.clearfix:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			line-height: 0;
			visibility: hidden;
		}		
		spaceLine {
			white-space:pre-line;
		}
		div.boxLeft {
			width: 100%;
			padding-left: 20%;
			padding-right: 20%;
			padding-bottom: 5%; 		
			<!-- box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			float: left;
			-->
		}
		div.boxRight {
			width: 37%;
			box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			float: right;
		}
		div.BackColor {
			background-color: white;
			}
		#clear {
			clear: both;
		}


		.headerMargin{
			height: 100px;
			width:100%;
			overflow:hidden;
			float:center;
		}
		.button {
			background-color: #4CAF50; /* Green */
			border: none;
			color: white;
			padding: 16px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			-webkit-transition-duration: 0.4s; /* Safari */
			transition-duration: 0.4s;
			cursor: pointer;

		}
		.button4 {
			background-color: white;
			color: black;
			border: 2px solid #e7e7e7;
		}

		.button4:hover {background-color: #e7e7e7;}
		
		div.box {
			width: 100%;
			border-radius: .5em;
			padding: 1em;
			border-color: black;
			box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			background-color: white;
		}

		#container {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%) }
			div.box {
			width: 100%;
			border-radius: .5em;
			padding: 1em;
			border-color: black;
			box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		@media only screen and (min-width:1000px){
			div.boxPic{
				float:left;
				max-width:50%;
			}
			div.boxWord{
				float:right;
				max-width:50%;
			}					

		}				
		div.boxPic{
		width:100%;
		float: left;
		}
		div.boxWord{
		float:left;
		width:100%;

		}
		div.piece{
		width:100;
		background-color: rgba(19,20,20, 0.47);
		border-radius: 25px;
		}
		img{
		width:100%;
		max-height:100%;
		border-radius: 25px;
		 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		}
		.hm-gradient {
			background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
		}
		.darken-grey-text {
			color: #2E2E2E;
		}		
		.img-fluid{
			height: 250px;
			 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.caption {
			position: absolute;
			top: 45%;
			left: 0;
			width: 100%;
			text-align:center;
			color:white;
					
		}		
   </style>
 <div class = "headerMargin">
   </div>
   <h1 style="font-size: 72px; text-align: center;padding: 5%; color:black;font-family:
  'Dancing Script', cursive;">Quantum Cooking</h1>
   <div class = "containerBox clearfix;" style = " background-color: rgba(0,0,0, 0); color: black; "  >
     <hr style = " background-color: black; color: black; padding-bottom">

   <br>
   <br>
   <div class = "box clearfix" style = "background-color:rgba(19,20,20, 0.47);">
    <br>
    <h2 style = "text-align:center; color:white">Recipe of the Week</h2>
    <hr style = "border-color: white">
	<center>
    <div class = "boxPic">
    <!--picture goes below-->
   <a href="http://159.65.64.111/recipes/418"> <img src = "https://s-media-cache-ak0.pinimg.com/736x/b4/46/fc/b446fcd4d54da0e939139be8c585e158.jpg"></a>
    </div>
	</center>
    
    <div class = "boxWord">
    <center>
    <p style = "color:white"><br><br><h3 style = "color:white">Author:</h3><br><p style = "color:white"> Wikimedia </p><br><br><br><h3 style = "color:white">Recipe:</h3> 
	<br><p style = "color:white">Tortilla Desserts Cups</p><br><br></p>
    </center>
    </div>  
   
   
   </div>


   <div class = "headerMargin">
   </div>
   <div class = "box clearfix" style = "background-color:rgba(19,20,20, 0.47);">
    <br>
    <h2 style = "text-align:center; color:white"> Our Favorites</h2>
    <hr style = "border-color: white">
<!----------------------------------------------------------------copied from that one website---------------------------------------------------------------------------------------->



<span class="hm-gradient">
    
    <main>
        
        <!--MDB Shadows-->
        <div class="container mt-4">

            <!-- Grid row -->
            <div class="row">
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-5">
                    <div class="z-depth-1">
						<div style = "height : 250px width : 400px;" >
							<a href = "http://159.65.64.111/recipes/436"><img src="https://rezeptbilder.coop.ch/11662_1-1_747-747@2x.jpg" class="img-fluid" alt="sample image"   style =  " box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></a>
							<div class = "caption" >
								<p style = "color:white; text-shadow: 0px 0px 3px #000;">Guacamole Tortilla Snacks</p>
							</div>
					    </div>
					</div>            
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-5">
            
                    <div class="z-depth-1-half">

                        <a href = "http://159.65.64.111/recipes/444"><img src="http://img.sndimg.com/food/image/upload/w_614,h_461,c_fit/v1/img/recipes/82/56/2/pici3ZzQh.jpg" class="img-fluid" alt="sample image"></a>
						<div class = "caption">
								<p style = "color:white;text-shadow: 0px 0px 3px #000;">Ham and Gouda Quesadilla Snacks</p>
						</div>
                    </div>
            
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-5">
            
                    <div class="z-depth-2">
                        <a href="http://159.65.64.111/recipes/5"><img src="https://tamaraleighauthor.files.wordpress.com/2012/10/avgolemono-soup.jpg" class="img-fluid" alt="sample image"></a>
						<div class = "caption">
								<p style = "color:white;text-shadow: 0px 0px 3px #000;">Avgolemono Soup</p>
						</div>
                    </div>
            
                </div>
                <!-- Grid column -->
            
            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row">
            
      
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-5">
            
                    <div class="z-depth-4">
                        <a href = "http://159.65.64.111/recipes/259"><img src="https://i.pinimg.com/736x/65/4a/23/654a23677c46486082e9b45ffd03d173.jpg" class="img-fluid" alt="sample image"></a>
							<div class = "caption">
								<p style = "color:white;text-shadow: 0px 0px 3px #000;">Low-calorie and Low-fat Cheesecake</p>
						</div>
                    </div>
            
                </div>
                <!-- Grid column -->
				      <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-5">
            
                    <div class="z-depth-3 align-text-bottom">
                        <a href = "http://159.65.64.111/recipes/78"><img src="http://img.sndimg.com/food/image/upload/w_614,h_461,c_fit/v1/img/recipes/11/51/16/picDa1xvk.jpg" class="img-fluid" alt="sample image"></a>
							<div class = "caption">
								<p style = "color:white ; text-shadow: 0px 0px 3px #000;">Simple Stir-fried Udon</p>
						</div>
                    </div>
            
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-lg-4 col-md-6 mb-5">
            
                    <div class="z-depth-5">
                        <a href = "http://159.65.64.111/recipes/289"><img src="https://www.maangchi.com/wp-content/uploads/2008/01/bibimbap-bowl.jpg" class="img-fluid" alt="sample image"></a>
						<div class = "caption">
								<p style = "color:white ; text-shadow: 0px 0px 3px #000;"> Bibimbap </p>
						</div>
                    </div>
            
                </div>
                <!-- Grid column -->
            
            </div>
            <!-- Grid row -->
          
            <hr class="my-4">
          
         

        </div>
        <!--MDB Shadows-->
      
    </main>
  
</span>



<!-------------------------------------------------------------------------------------------------------------------------------------------------------->
   
   </div>
   <div class = "headerMargin">
   </div>
 

   <div class = "box clearfix" style = "background-color:rgba(19,20,20, 0.47); color:white">
		<br>
		<h2 style = "text-align:center">Silicon Nights: About Us<h2>
		<hr>
      <p style="text-align: center; font-size: 24px;">Our Story...</p>
      
      <p style=" font-size: 16px;"> &emsp; Silicon Nights was founded one dark stormy night (actually it was a bright clear morning) barely eighteen years into the 21st century. 
	  The Founding Knights (David, Baldemar, Saif, Rafael and Brian) formed a brotherhood, and sought to create the Silicon Knights. Shortly thereafter, the name was changed due to an already existing 
	  company of the same name. The Founding Knights -- Nights? -- joined forces for one sole purpose: To create a cool little website and search for recipes based on ingredients a user may have, and also 
	  to get an A in a Software Engineering class. This is that website!</p>

  </div>
  <br>

 </div>






{% endblock %}
