Silicon_Kooking/__pyache__
Silicon_Kooking/settings.py
Silicon_Kooking/migrations/*
home/__pycache__
home/migrations/*
recipes/__pycache__
recipes/migrations/*
accounts/__pycache__
accounts/migrations/*
../models/data/clean-parse-data/images/last-recipe.txt
