{% extends "header.html" %}

{% block body %}

<style type="text/css">
	body {
		padding-top: 50px;
	}

	@media (min-width: 992px) {
		body {
			padding-top: 50px;
		}
	}

	.publisher{
		color: #a3a2a3;
		letter-spacing: .09em;
		font-size: 14px;
		margin-bottom: 12px;
	}
	#profile-box{
		background-color: #ffffff; 
		border-color: #f0f0f0;
	}
	
	img {
		width: 100%;
		max-height: 100%;
		border-radius: 25px;
	}
	
	
</style>


 <!-- Page Content -->
 <div class="container">

      <div class="row">

		<!-- Main Recipe Column -->
        <div class="col-md-8">

			<h1 class="my-4"> {{recipe.name}} </h1>
				<div class="publisher">
						<em> Authored by </em> {{recipe.author}}
				</div>


			<!-- Recipe Image and Description -->
			<div class="card mb-4">
				<object  data="{{recipe.static_image.url}}" width="100%" height="100%">
					<img class="card-img-top" src="{{recipe.web_image}}" width="100%" height="100%">
				</object>

				<div class="card-body">
					{% if recipe.description != 'none' %}
						<h3 class="card-title">Description</h2>

						<p class="card-text"> {{recipe.description}} </p>
					{% endif %}

				</div>

				<div class="card-footer text-muted">
					Posted on {{recipe.time}}
				<a href="#">{{recipe.user}}</a>
				</div>
			</div>
			
		
		<!--Profile card -->
		<div class="card mb-4">
			<div class="row">
				<div class="col-12">
					<div id="profile-box" class="card card-inverse">
						<div class="card-block">
							<div class="row">
								<div class="col-md-8 col-sm-8">
									<h3 class="card-title">&nbsp;&nbsp;{{recipe.user}}</h3>
								</div>
								<div class="col-md-4 col-sm-4 text-center">
									<img class="btn-md" src="assets/images/card-image.png" alt="" style="border-radius:50%;">
								</div>   
								<div class="col-md-4 col-sm-4 text-center">
									<h4><strong> 5.2K </strong><h4>
									<p><small>Recipes</small></p>
								</div>
								<div class="col-md-4 col-sm-4 text-center">
									<h4><strong>1.4K</strong><h4>                    
									<p><small>Following</small></p>
								</div>
								<div class="col-md-4 col-sm-4 text-center">
									<h4><strong>3.8K</strong><h4>                    
									<p><small>Followers</small></p>  
									<button class="btn btn-primary btn-block btn-md"><span class="fa fa-facebook-square"></span> Follow  </button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!--

		
		<div class="card mb-4">
			<div class="card-body">
				{% if recipe.description != 'none' %}
					<h3 class="card-title">Description</h2>

					<p class="card-text"> {{recipe.description}} </p>
				{% endif %}
			</div>
		</div>
  -->
			

			<!-- Recipe Ingredients -->
			<div class="card mb-4">

				<div class="card-body">
					<h3 id="card-title">Ingredients</h3>

					<div class="card-text">
						{% for header, body in ingredients_sections %}

							{% if header != 'none' %}
								<h5>{{header}}</h5>
							{% endif %}

							<ul>
							{% for line in body %}
									<li class="ingredient" itemprop="ingredients">{{line}}</li>
							{% endfor %}
							</ul>

						{% endfor %}
					</div>
				</div>
			</div>


			<!-- Recipe Instructions -->
			<div class="card mb-4">

				<div class="card-body">
					<h3 id="card-title">Instructions</h3>

					<div class="card-text">
						{% for header, body in instructions_sections %}

							{% if header != 'none' %}
								<h5>{{header}}</h5>
							{% endif %}

							<ul>
							{% for line in body %}
									<li class="instructions" itemprop="instructions">{{line}}</li>
							{% endfor %}
							</ul>

						{% endfor %}
					</div>
				</div>
			</div>
	  </div>
 </div>
{% endblock %}
