{% extends "header.html" %}
{% block body %}

<style type="text/css">

	 body {
	    font-family:font-family: Arial, Helvetica, sans-serif;
	}

	#container {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

	P{text-align: center}


  
  div.box {
        width: 100%;
		border-radius: .5em;
		 padding: 1em;
		border-color: black;
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    }


	div.BackColor {
    background-color: white;
	}
	
	textarea { resize: none;
		}

</style>
<center>
<h1>Upload a Recipe</h1>
<form method="post" action".">
<div class="container">
	<div class = "box">
		<div class = "BackColor">
			
  {% csrf_token %}
    <table border="0">
    <tr>
    {{ form.non_field_errors }}
     <div class="fieldWrapper">
        {{ form.recipeName.errors }}
        <th><label for="id_recipeName">Recipe Name:</label></th>
        <th>{{ form.recipeName }}<maxlength="100"></th>
    </div>
    </tr>
	<tr>
    {{ form.non_field_errors }}
     <div class="fieldWrapper">
        {{ form.recipeName.errors }}
        <th><label for="id_description">Description:</label></th>
        <th>{{ form.description }}<maxlength="100"></th>
    </div>
    </tr>
	<tr>
    {{ form.non_field_errors }}
     <div class="fieldWrapper">
        {{ form.recipeName.errors }}
        <th><label for="id_instructions">Instructions:</label></th>
        <th>{{ form.instructions }}<maxlength="100"></th>
    </div>
    </tr>
	<tr>
    {{ form.non_field_errors }}
     <div class="fieldWrapper">
        {{ form.recipeName.errors }}
        <th><label for="id_author">Author:</label></th>
        <th>{{ form.author }}<maxlength="100"></th>
    </div>
    </tr>
	<tr>
	<tr>
    {{ form.non_field_errors }}
     <div class="fieldWrapper">
        {{ form.recipeName.errors }}
        <th><label for="id_publisher">Publisher:</label></th>
        <th>{{ user.username }}<maxlength="100"></th>
    </div>
    </tr>
	<tr>
    {{ form.non_field_errors }}
     <div class="fieldWrapper">
        {{ form.recipeName.errors }}
        <th><label for="id_image">Image:</label></th>
        <th>{{ form.image }}<maxlength="100"></th>
    </div>
    </tr>
   
	</table>
					<center>
						<input type="submit" value="Submit" />
					</center>
				
</form>
{% endblock %}
