<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Silicon Kooking</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
			{% load staticfiles %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			
			<script language="javascript">
				$(document).ready(function(e){
					$('.search-panel .dropdown-menu').find('a').click(function(e) {
						e.preventDefault();
						var param = $(this).attr("href").replace("#","");
						var concept = $(this).text();
						$('.search-panel span#search_concept').text(concept);
						$('.input-group #search_param').val(param);
					});
				});
			</script>
			
			<style>
				.input-group{
					margin-top:20px;
				}
			</style>

			{% block head_css %}
			{% endblock %}
	</head>


	<header>
		<div class="container">
			<div class="row">    
				<div class="col-xs-8 col-xs-offset-2">
					<div class="input-group">
						<div class="input-group-btn search-panel">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span id="search_concept">Filter by</span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
							  <li><a href="#Recipe">Recipe</a></li>
							  <li><a href="#Ingredients">Ingredients</a></li>
							  <li><a href="#Cuisine">Cuisine</a></li>
							  <li><a href="#Meal type">Meal Type</a></li>
							  <li class="divider"></li>
							  <li><a href="#All">Anything</a></li>
							</ul>
						</div>
						<input type="hidden" name="search_param" value="all" id="search_param">         
						<input type="text" class="form-control" name="x" placeholder="Search term...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	{% block pager %}

	{% endblock %}

	{% block body %}

	{% endblock %}
</html>
