
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Silicon Kooking</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
			{% load staticfiles %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway" rel="stylesheet">

				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

				{% block head_css %}
				{% endblock %}
			</head>


<header>
			<div id ="header">
				<nav class="navbar navbar-inverse navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">Silicon Kooking</a>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
							<div class="container text-center">
								<ul class="nav navbar-nav">

									<li><a href="/">Home</a></li>
									<form class="navbar-form navbar-left" action="search" method="get">

										<div class="form-group">

											<input type="text" class="f-control" placeholder="Search" name="query">

												<button type="Search" class="btn btn-default">Search</button>
											</div>
										</form>
										<li><a href="#">Advanced Search</a></li>
										{% if user.is_authenticated %}
											<li><a href="/accounts/profile/">Profile</a></li>
											<li><a href="/accounts/logout">Logout</a></li>
										{% else %}
											<li><a href="/accounts/login/">Login</a></li>
											<li><a href="/accounts/register/">Register</a></li>
										{% endif %}


									</ul>



						<nav class="navbar navbar-inverse navbar-fixed-top">
							<div class="container-fluid">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="/">Silicon Kooking</a>

								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="container text-center">
										<ul class="nav navbar-nav">

											<li><a href="/">Home</a></li>
											<form class="navbar-form navbar-left" action="search" method="get">

												<div class="form-group">

													<input type="text" class="f-control" placeholder="Search" name="query">

														<button type="Search" class="btn btn-default">Search</button>
													</div>
												</form>
												<li><a href="#">Advanced Search</a></li>

										{% if user.is_authenticated %}
											<li><a href="/accounts/profile/">Profile</a></li>
											<li><a href="/accounts/logout/">Logout</a></li>
										{% else %}
											<li><a href="/accounts/login/">Login</a></li>
											<li><a href="/accounts/register/">Register</a></li>
										{% endif %}



											</ul>

										</div>
									</div
									</div>
								</nav>
		  			</div>
</header>
						{% block pager %}

						{% endblock %}

						{% block body %}

						{% endblock %}
</html>
