    body {
	    font-family:font-family: Arial, Helvetica, sans-serif;
	}
	
	#container {
	
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
    
	P{text-align: center} 
	
	
	
spaceLine {
        white-space:pre-line;
    }
	
	div.box {
        width: 100%;
		border-radius: .5em;
		 padding: 1em;
		border-color: black;
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
		
    }
	
	
	div.BackColor {
    background-color: white;
}
#clear {
    clear: both;
}
	
