{% extends "header.html" %}


{% block body %}
<link rel="stylesheet" src="css/login.css" type = "text/css"/>

	<style type="text/css">

	 body {
	    font-family:font-family: Arial, Helvetica, sans-serif;
	}

	#container {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

	P{text-align: center}




spaceLine {
        white-space:pre-line;
    }

	div.box {
        width: 100%;
		border-radius: .5em;
		 padding: 1em;
		border-color: black;
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    }


	div.BackColor {
    background-color: white;
}

#clear {
    clear: both;
}

</style>

<body class="body" style="background-color:white">
	<div id = "container" >
		<div class = "box">
			<br>
			<br>

			<center>
			  <h1>You have been logged out</h1>
			  <br>
			  <h2>Return <a href="/">Home</a></h2>
			</center>
		</div>
	</div>
</body>

{% endblock %}
