{% extends "header.html" %}
{% block body %}

<link rel="stylesheet" src="css/login.css" type = "text/css"/>

	<style type="text/css">

	 body {
	    font-family:font-family: Arial, Helvetica, sans-serif;
	}

	#container {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	 background-color: white;
	 border-radius: .5em;
	}
	
	P{text-align: center}




	spaceLine {
        white-space:pre-line;
    }

	div.box {
        width: 100%;
		border-radius: .5em;
		padding: 1em;
		border-color: black;
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    }


	div.BackColor {
    background-color: white;
}

#clear {
    clear: both;
}

</style>

<body class="body" style="background-color:white">
	<div id = "container" >
	 <div class = "box">
		 <center>
		 <h1> Login </h1>
			<br>
		 </center>
		     <div class = "BackColor">
		{% if form.errors %}
		<p>Your username or password is invalid. Please try again.</p>
		{% endif %}

		{% if next %}
			{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed,
			please login with an account that has access.</p>
			{% else %}
			<p>Log In To Your Account</p>
			{% endif %}
		{% endif %}

		<form method="post" action="/accounts/login/">
		{% csrf_token %}

		<div>
		  <td>{{ form.username.label_tag }}</td>
		  <td>{{ form.username }}</td>
		</div>
		<div>
		  <td>{{ form.password.label_tag }}</td>
		  <td>{{ form.password }}</td>
		</div>

		<div>

			<center>
		  	<input type="submit" value="login" />
			</center>

		  <input type="hidden" name="next" value="{{ next }}" />
		</div>
		</form>

		{# Assumes you setup the password_reset view in your URLconf #}
		<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
		</div>
		</div>
	</div>

</body>
{% endblock %}
