{% extends "header.html" %}	


{% load static %}
<link rel="stylesheet" src="css/login.css" type = "text/css"/>

{% block head_css %}
	<style type="text/css">
	
	 body {
	    font-family:font-family: Arial, Helvetica, sans-serif;
	}
	
	#container {
	
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
    
	P{text-align: center} 
	
	

	
spaceLine {
        white-space:pre-line;
    }
	
	div.box {
        width: 100%;
		border-radius: .5em;
		 padding: 1em;
		border-color: black;
        box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
		
    }
	
	
	div.BackColor {
    background-color: white;
}
#clear {
    clear: both;
}
</style>
{%endblock%}







{% block content %}
<body class="body" style="background-color:white">
	<div id = "container" >
	
	 <div class = "box">
		     <div class = "BackColor">
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
	</div>
		</div>
	</div>
	
</body>
{% endblock %}