{% extends "header.html" %}
{% load widget_tweaks %}

{% block body %}
			
<style type="text/css">
	#formInput{
		width: 100%;
	}
	
	.displayForm {
	  min-height: 70%; 
	  min-height: 70vh; 

	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex; 
	  
	  -webkit-box-align : center;
	  -webkit-align-items : center;
	  -moz-box-align : center;
	  -ms-flex-align : center;
	  align-items : center;
  

	  width: 70%;
	  
	  -webkit-box-pack : center;
	  -moz-box-pack : center;
	  -ms-flex-pack : center;
	  -webkit-justify-content : center;
      justify-content : center;
	}
	
	#wrapper .text {
		width:0px;
		height:0px;
		bottom:0px;
		left:0px;
		visibility:hidden;
		display: none;
	}

	#wrapper:hover .text {
		width: 100%;
		left:0px;
		visibility:visible;
		display: block;
	}
<
</style>
<center>
	<div class="displayForm">
		<div class="container" style="background-color:white;border-radius: 25px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);">
			<br> <h1> Register </h1> <br>
			<form method="post">
			  {% csrf_token %}

			  {% for hidden_field in form.hidden_fields %}
				{{ hidden_field }}
			  {% endfor %}

			  {% if form.non_field_errors %}
				<div class="alert alert-danger" role="alert">
				  {% for error in form.non_field_errors %}
					{{ error }}
				  {% endfor %}
				</div>
			  {% endif %}

			  {% for field in form.visible_fields %}
				<div class="form-group">
				  {{ field.label_tag }}

				  {% if form.is_bound %}
					{% if field.errors %}
					  {% render_field field class="form-control is-invalid" %}
					  {% for error in field.errors %}
						<div class="invalid-feedback">
						  {{ error }}
						</div>
					  {% endfor %}
					{% else %}
					  {% render_field field class="form-control is-valid" %}
					{% endif %}
				  {% else %}
					{% render_field field class="form-control" %}
				  {% endif %}
				</div>
			  {% endfor %}
			  <button type="submit" class="btn btn-primary" value="login">Submit</button>
			</form>
			<br> <br>
		</div>
	</div>
</center>
{% endblock %}
