{% extends "header.html" %}

{% block body %}

<div class = "box" style = "position: absolute;width:70%;left: 50%;margin-left: -35%;height: auto;">
<form method="post">

<input type='hidden' name='csrfmiddlewaretoken' value='bxAYddDrMtz8GXj5iD6YnUanLmisfHJtDOEfF15I0fql3rQM2WtcU1WMb7RpuTIC' />
{% csrf_token %}
<h1>Register</h1>
<p><p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autofocus required id="id_username" /> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
<p><label for="id_first_name">First name:</label> <input type="text" name="first_name" maxlength="30" id="id_first_name" /></p>
<p><label for="id_last_name">Last name:</label> <input type="text" name="last_name" maxlength="150" id="id_last_name" /></p>
<p><label for="id_email">Email:</label> <input type="email" name="email" required id="id_email" /></p>
<p><label for="id_password1">Password:</label> <input type="password" name="password1" required id="id_password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/> <span class="helptext"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Must contain at least one number and one uppercase and lowercase letter.</li></ul></span></p>
<p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" required id="id_password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/> <span class="helptext">Enter the same password as before, for verification.</span></p></p>
<input type="submit" value="login" />
</div>

{% endblock %}
